<div class="row">
    <div class="col-md-12">
        <!-- Dashboard component goes here -->
        <!--ngx-powerbi-component type="report"
                id="dashboard"
                embedUrl="https://app.powerbi.com/reportEmbed?reportId=[put-report-id-here]&groupId=[put-group-id-here]"
                tokenType="Aad"
                accessToken="[put-access-token-here]"
                on-embedded="onEmbedded($event)">
        </ngx-powerbi-component-->
        <div id="pbi-container" style="height:780px;width:100%"></div>
    </div>
</div>
